# Análise Exploratória dos Dados (EDA)

## Objetivo
A Análise Exploratória de Dados (EDA) é uma etapa fundamental para compreender o comportamento das variáveis, identificar padrões, inconsistências, outliers e possíveis relações com a variável alvo.

Neste notebook, exploramos a base German Credit Data com foco em:
- Entendimento das variáveis
- Distribuições
- Análise univariada e bivariada
- Insights iniciais relacionados ao risco de crédito

Ao final desta etapa, teremos uma compreensão clara dos dados e hipóteses que orientarão o pré-processamento e a modelagem.

In [5]:
import pandas as pd


DATA_RAW_PATH = "../data/raw/credit_data.csv"

df = pd.read_csv(
    DATA_RAW_PATH,
    sep=r"\s+",
    header=None,
    engine="python"
)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2

In [6]:
df.shape

(1000, 25)